@{
    ViewBag.Title = "Home Page";
}

    <div class="col-lg-6">
        <h1>今天吃什麼?</h1>
        <p class="lead">Hungry..I want to eat...</p>
    </div>
    <div class="col-lg-6">
        <img id="eating" src="~/Eating.jpg" height="300" />
    </div>

